@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main {
    background-color: rgba(128, 128, 128, 0.315);
}

.container {
    background-color: #ffe2b3;
    width: 440px;
    margin: 20px auto;
    border-top-left-radius:  7px;
    border-top-right-radius:  7px;
    padding: 0px;
    color: #b55300;
}

.ticket-header {
    background-color: #f4a82d;
    color: white;
    border-top-left-radius:  7px;
    border-top-right-radius:  7px;
    text-align: center;
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-header h2{
    font-size: 20px;
}

#logo {
    /* width: 45px; */
    /* border: 2px solid white; */
    /* border-radius: 100%; */
}

.ticket-body {
    padding: 20px 15px;
}

.ticket-name p {
    font-size: 0.9rem;
    color: #b55334;
    font-weight: 300;
}

.ruler {
    margin: 1rem 0;
    height: 1px;
    background: #b36f00;
}

.ticket-number-date {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.ticket-from-and-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 15%; */
    /* border-bottom: 2.5px dashed #20a3f6;
    padding-bottom: 20px; */
}

.plane-body {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 250px;
}

.plane {
    width: 50px;
    margin-top: 15px;
    /* display: flex; */
}

.ter-gat-set {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bording {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.bording-content {
    border: 2px dashed #b36f00;
    padding: 10px 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qrcode {
    margin-top: 20px;
    display: felx;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.code {
    height:200px;
    width: 200px;
}

p{
    font-weight: 500;
}
h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
    margin-top: 0;
}

.ticket-from-and-to .avatar{
    width: 100px;
    height: 100px;
}
@media screen and (max-width: 414px) {
    
    
.container {
    background-color: #ffe2b3;
    width: 100%;
    margin: auto;
    border-top-left-radius:  7px;
    border-top-right-radius:  7px;
    padding: 0px;
    color: #b55300;
    height: 100%;
}
 h2{
    font-size: 20px;
}
.ticket-header {
    background-color: #f4a82d;
    color: white;
    border-top-left-radius:  7px;
    border-top-right-radius:  7px;
    text-align: center;
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-header h2{
    font-size: 20px;
}

#logo {
    /* width: 45px; */
    /* border: 2px solid white; */
    /* border-radius: 100%; */
}

.ticket-body {
    padding: 30px 15px;
}

.ticket-name p {
    font-size: 0.9rem;
    color: #b55334;
    font-weight: 500;
}

.ruler {
    margin: 1rem 0;
    height: 1px;
    background: #b36f00;
}

.ticket-number-date {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.ticket-from-and-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 15%; */
    /* border-bottom: 2.5px dashed #20a3f6; */
    /* padding-bottom: 20px; */
}

.plane-body {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 250px;
}

.plane {
    width: 50px;
    margin-top: 15px;
    /* display: flex; */
}

.ter-gat-set {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bording {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.bording-content {
    border: 2px dashed #b36f00;
    padding: 10px 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qrcode {
    margin-top: 20px;
    display: felx;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.code {
    height:200px;
    width: 200px;
}

}